body {
    background-color: rgb(206, 243, 248);
    color: black;
    font-family: monospace;
}

table {
    background-color: rgb(99, 114, 139);
    color: white;
}

.image {
    width: 50px;
    height: 50%;
}